<div>
  <div *ngFor="let afil of afiliados.data">
  <div class="row">

<div class="col">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
           Datos afiliado
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Generar certificado
            </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="createPDF()">Afiliado</a>
          <a class="dropdown-item" href="#">Grupo familia</a>
        </div>
      </div>

    </div>

  <div class="card-body">
    <div class="container border-start">

     <div class="col-sm">
        <p><strong>Nombre: </strong> {{afil.afiliado.nombre}}</p>
      </div>
      <div class="col-sm">
        <p><strong>Fecha nacimiento: </strong> {{afil.afiliado.fechaNacimiento}}</p>
      </div>
      <div class="col-sm">
        <p><strong>Fecha ingreso empresa: </strong> {{afil.afiliado.fechaAfiliacion}}</p>

    </div>


      <div class="col">
        <p><strong>Fecha afiliacion: </strong> {{afil.afiliado.fechaAfiliacion}}</p>
      </div>
      <div class="col">
        <p><strong>Estado afiliacion: </strong> {{afil.afiliado.estado}}</p>
      </div>
      <div class="col">
        <p><strong>Fecha retiro: </strong> {{afil.afiliado.fechaRetiro}}</p>
      </div>

      <div class="col">
        <p><strong>Categoria: </strong> {{afil.afiliado.categoria}}</p>
      </div>
      <div class="col">
        <p><strong>Tipo trabajador: </strong> {{afil.afiliado.tipoTrabajador}}</p>
      </div>
      <div class="col">
        <p><strong>Numero tarjeta: </strong> {{afil.afiliado.tarjetaMultiservicios}}</p>
      </div>

      <div class="col">
        <p><strong>Gp: </strong> {{afil.afiliado.gp}}</p>
      </div>
      <div class="col">
        <p><strong>Estado tarjeta: </strong> {{afil.afiliado.estadoEntrega}}</p>
      </div>
      <div class="col">
        <p><strong>Fecha entrega tarjeta: </strong> {{afil.afiliado.fechaEntrega }}</p>
      </div>

      <div class="col">
        <p><strong>Valor último subsidio: </strong> {{afil.afiliado.subsidio}}</p>
      </div>
      <div class="col">
        <p><strong>Último ciclo pagado: </strong> {{afil.afiliado.ultimoMesPagado}}</p>
      </div>
      <div class="col">
        <p><strong>Via de pago: </strong> {{afil.afiliado.metodoPago}}</p>
      </div>

      <div class="col">
      </div>
      <div class="col">
        <p><strong>Motivo bloqueo: </strong> {{afil.afiliado.motivoBloqueo}}</p>
      </div>
      <div class="col">
        <p><strong>Tipo afiliación: </strong> {{afil.afiliado.tipoTrabajador}}</p>
      </div>


  </div>

  </div>

</div>
</div>

<div class="col">

<div class="card">
  <div class="card-header">
    <strong> Datos de afiliacion </strong>
  </div>
  <div class="card-body">
    <div class="container border-start">
<div class="row justify-content-md-center mt-5">
  <div class="col-sm">
    <p><strong>Tipo aporte afiliado: </strong> 	{{afil.afiliado.tipoTrabajador}} </p>
  </div>
  <div class="col-sm">
  </div>
  <div class="col-sm">
    <p><strong>Porcentaje aporte afiliado: </strong>{{afil.afiliado.porcentajeApor}} </p>
  </div>
</div>
</div>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Grupo familiar
  </div>
<div class="card-body">
  <table class="table">
<thead>
<tr>
<th scope="col">Tipo documento</th>
<th scope="col">documento</th>
<th scope="col">Nombre</th>
<th scope="col">Parentesco</th>
<th scope="col">Genero</th>
<th scope="col">Fecha nacimiento</th>
<th scope="col">Fecha afiliacion</th>
<th scope="col">Estado</th>
<th scope="col">Discapacidad</th>
<th scope="col">Beneficiarios de subsidio</th>
<th scope="col">Modalidad pago subsidio</th>
<th scope="col">Motivo bloqueo</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let benef of afil.pacs">
<th scope="row"> {{benef.tipoDocumento}}</th>
<td>{{benef.numeroDocumento}}</td>
<td>{{benef.bNombre}}</td>
<td>{{benef.relacion}}</td>
<td>{{benef.genero}}</td>
<td>{{benef.fechaNacimineto}}</td>
<td>{{benef.fechaInicioVigencia}}</td>
<td>{{benef.estado}}</td>
<td>{{benef.discapacidad}}</td>
<td>No</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>

<div class="card">
  <div class="card-header">
    <strong> Datos empresa </strong>
  </div>
  <div class="card-body">
    <table class="table">
    <thead>
      <tr>
          <th class="col"> Razon social</th>
          <th class="col"> Tipo documento</th>
          <th class="col"> Numero documento</th>
          <th class="col"> Estado </th>
          <th class="col"> Accion</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let companias of afil.empleadores.companias">
         <th>{{companias.nombre}}</th>
         <th>{{companias.tipoDocumento}}</th>
         <th>{{companias.numberoDocumento}}</th>
         <th>{{companias.estado}}</th>
         <th>  <button class="btn btn-primary btn-clor" type="button" (click)='buscarEmpres(companias.numberoDocumento)'>
             <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="buscar == true"></span>
             Ver detalle
           </button></th>
       </tr>
    </tbody>
</table>
  </div>
</div>

</div>
</div>
</div>
<app-pdgenerate [afiliados]='afiliados' *ngIf="genpdf==true"></app-pdgenerate>
</div>
