.btn-clor{
    --bs-btn-color: white;
    --bs-btn-bg: #0067b1;
    --bs-btn-border-color: #0067b1;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #FFED00;
    --bs-btn-hover-border-color: #c1b304;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
}

.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}
