<!-- <div class="container">
  <div class="row">
    <div id="htmlData">
      <h2>Lista de videojuegos en stock</h2>
      <table class="table table-bordered mt-4">
        <tr class="table-primary">
          <th>Id</th>
          <th>Name</th>
          <th>Platform</th>
          <th>Reference</th>
        </tr>
        <tr >
          <th>{{afiliado.primerNombre}}</th>
          <td>{{afiliado.primerNombre}}</td>
          <td>{{afiliado.primerNombre}}</td>
          <td>{{afiliado.primerNombre}}</td>
        </tr>
      </table>
    </div>
  </div>
</div> -->
