<div class="col-md-8" id="htmlData">
  <div class="toolbar mb-5">
    <a class="navbar-brand" href="#">
      <img id="Header_PTPC-Logo" class="im" title="ir a: Inicio" src="./assets/images/titulo.png" alt="Logo colsubsidio" >
    </a>
  </div>
  <br>
  <div class="text-center fw-bold">
    LA CAJA COLOMBIANA DE SUBSIDIO FAMILIAR
  </div>
  <br>
  <div class="text-center fw-bold">
    COLSUBSIDIO
  </div>
  <br><br><br><br>
  <div class="text-center fw-bold">
  HACE CONSTAR
  </div>
  <br><br>
  <div class="text-center m-5">
  <strong>
    Que el (la) señor(a) {{afiliados.data[0].afiliado.nombre}} identificado(a) con Cédula
    De Ciudadanía {{afiliados.data[0].afiliado.numeroDocumento}} se encuentra afiliado(a) a esta Caja de Compensación
    Familiar, a través de {{afiliados.data[0].empleadores.companias[0].nombre}} con NIT {{afiliados.data[0].empleadores.companias[0].numberoDocumento}} desde el día {{afiliados.data[0].afiliado.fechaAfiliacion}}.
  </strong>
  </div>
  <div class="text-center">
  <img class="firma" src="./assets/images/firmaMauricio.png" alt="">
  </div>
  <div class="text-center">
      <strong>JOSE LEONARDO GONZALEZ VEGA</strong>
  </div>
  <div class="text-center fs-7">
    Jefe Sección Afiliación y Postulación
  </div>
<br><br><br><br>
  <div>
  Bogota D.C. {{CurrentDate | date:'YYYY-MM-dd'}}
  </div>


  <div class="text-center">
<img class="im" src="./assets/images/base.png" alt="">
  </div>
  <div class="ft text-center">
    <p class="text-center pq"> Calle 26 # 25-50 Conmutador 742 0100 - Fax 340 2690 - A.A. 8573 Audioservicios Colsubsidio: 745 0999 Bogotá, D.C. www.colsubsidio.com</p>
  </div>


</div>
