.solicitud_hipotecario {
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    width: 750px;
    margin-top: 20px;
    &__header {
      text-align: center;
      margin-bottom: 20px;
      h3 {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      p {
        margin: 0;
        color: rgba(#606060, 0.6);
        font-weight: 600;
      }
    }
    &__content {
      .card {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 5px));
        gap: 10px;
        margin-bottom: 15px;
        &.card2 {
          margin-top: 25px;
        }
        input {
          text-transform: uppercase;
        }
      }
      .actions {
        margin-top: 15px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        button {
          display: flex;
          align-items: center;
          color: #001f5b;
          gap: 10px;
          font-weight: 600;
          font-size: 18px;
          background-color: transparent;
          border: 0;
          cursor: pointer;
        }
      }
    }

    @media (max-width: 766px) {
      width: 100%;
      &__content {
        .card {
          grid-template-columns: 80%;
          justify-content: center;
          .form_field {
            width: 100%;
          }
          .actions,
          .cont-radios {
            grid-column: 1/2;
            .options {
              flex-wrap: wrap;
            }
          }
        }
      }
    }
  }
}

.btn-clor{
    --bs-btn-color: #000;
    --bs-btn-bg: #FFED00;;
    --bs-btn-border-color: #FFED00;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #c1b304;
    --bs-btn-hover-border-color: #c1b304;
    --bs-btn-focus-shadow-rgb: 217,164,6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #ffcd39;
    --bs-btn-active-border-color: #ffc720;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
}

.readonly-wrapper {
  cursor: not-allowed;
}

.readonly-wrapper .readonly-block {
  pointer-events: none;
}
