<div *ngFor="let emp of empresa.data">
<div class="card">
  <div class="card-header">
    Datos empresa
  </div>
  <div class="card-body">
    <div class="container border-start">

      <table class="table">
  <tbody>
    <tr>
      <td><strong>Razón social: </strong> {{emp.contribuyente.nombre}}</td>
      <td><strong>Direccion: </strong> {{emp.contribuyente.direccion.direccionPrincipal}}</td>
      <td><strong>Celular: </strong>  {{emp.contribuyente.telefono.celular}}</td>
      <td><strong>Cod. actividad económica:</strong> {{emp.contribuyente.actividadEconomica.codigo}}</td>
      <td><strong>Fecha inicio actividades:</strong> {{emp.contribuyente.fechaInicio}}</td>
    </tr>
    <tr>
      <td><strong>Tipo documento: </strong>{{emp.contribuyente.tipoDocumento}}</td>
      <td><strong>Departamento: </strong> {{emp.contribuyente.direccion.departamento.nombre}}</td>
      <td><strong>Correo electronico: </strong>{{emp.contribuyente.correoElectronico}}</td>
      <td><strong>Desc. actividad económica:</strong>{{emp.contribuyente.actividadEconomica.descripcion}}</td>
      <td><strong>Cantidad empleados: </strong>{{emp.contribuyente.detalleAportantes[0].numeroCotizantes}}</td>
    </tr>
    <tr>
      <td><strong>Número documento: </strong> {{emp.contribuyente.numeroDocumento}}</td>
      <td><strong>Ciudad: </strong> {{emp.contribuyente.direccion.ciudad.nombre}}</td>
      <td><strong>Cod clase aportante: </strong> {{emp.contribuyente.clase.id}}</td>
      <td><strong>Tipo persona: </strong> </td>
    </tr>
    <tr>
      <td><strong>Estado: </strong> {{emp.contribuyente.detalleAportantes[0].estado.estadoId}}</td>
      <td><strong>Telefono: </strong>{{emp.contribuyente.telefono.fijo}}</td>
      <td><strong>Desc clase aportante: </strong> {{emp.contribuyente.clase.descripcion}}</td>
      <td><strong>Tipo aportante: </strong>{{emp.contribuyente.tipoContribuyente}}</td>
    </tr>


  </tbody>
</table>
<!-- <app-pd-emp-component  [empresa]='empresa'></app-pd-emp-component> -->
  </div>
</div>


</div>

</div>
