<div >
<div class="card">
  <div class="card-header">
    Datos empresa
  </div>
  <div class="card-body">
    <div class="container border-start">
      <div class="row justify-content-md-center">
        <div class="col-sm">
          <p><strong>razónSocial: </strong> {{empresa.razonSocial}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Direccion: </strong> {{empresa.direccion}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Celular: </strong> {{empresa.celular}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Cod. actividad económica:</strong> {{empresa.celular}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Fecha inicio actividades:</strong>{{empresa.fechainicioActividades}}</p>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-sm">
          <p><strong>Tipo documento: </strong> {{empresa.tipoDocumento}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Departamento: </strong> {{empresa.departamento}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Correo electronico: </strong> {{empresa.correoElectronico}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Desc. actividad económica:</strong> {{empresa.descActividadEconomica}}</p>
        </div>
        <div class="col-sm">
            <p><strong>Cantidad empleados:</strong> {{empresa.cantidadEmpleados}}</p>
        </div>
      </div>


      <div class="row justify-content-md-center">
        <div class="col-sm">
          <p><strong>Número documento: </strong> {{empresa.numeroDocumento}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Ciudad: </strong> {{empresa.ciudad}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Cod clase aportante </strong> {{empresa.codClaseAportante}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Tipo persona</strong> {{empresa.tipoPersona}}</p>
        </div>
        <div class="col-sm">
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-sm">
          <p><strong>Estado: </strong> {{empresa.estado}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Telefono: </strong> {{empresa.telefono}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Desc clase aportante </strong> {{empresa.descClaseAportante}}</p>
        </div>
        <div class="col-sm">
          <p><strong>Tipo aportante</strong> {{empresa.tipoAportante}}</p>
        </div>
        <div class="col-sm">
        </div>
      </div>


  </div>
</div>


</div>
